{{!-- <h1>Hello</h1> --}}

<form action="/" method="post" enctype="multipart/form-data">
  <h3>画像をアップロードする</h3>
  {{!-- ファイルをアップロードできるように指定（acceptでどの形式でもアップロード可能に設定） --}}
  <input type="file" name="imageFile" accept="image/*">
  <input type="submit">
</form>

<div>
    {{#each rows}}
    <p>選択した画像が下に表示されます</p>
    <img src={{this.imageName}} alt="">
    <p>{{ this.imageName }}</p>
    {{/each}}
</div>